html {
  font-size: 10px;
  background-size: cover;
  background-color: #202020;
  color: whitesmoke;
  background: url("./background.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 80%;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vw;
}

footer{
  position: relative;
  width: 100%;
  bottom: 0%;
  background-color: #333333;
  border: solid black;
  height: 3vw;
  font-size: 1vw;
  text-align: center;
}

select {
  background-color: #333333;
  color: white;
  border-radius: 10px;
}

.title {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #B22222;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#home {
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1500;
}


.loading {
  margin: -6%;
}

#pokemon {
  list-style: none;
  margin-top: 16%;
}

.filters {
  background-color: #202020;
  padding-bottom: 1%;
  border: solid black;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.filter {
  font-size: 1.5vw;
  width: 8vw;
  cursor: pointer;
}


.break {
  flex-basis: 100%;
  height: 0;
}

.pokemon {
  border-radius: 10px;
  background-color: #333333;
  margin-right: 20%;
  margin-left: 20%;
  border: solid black;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px 3px 3px #222222;
}

.image {
  background-color: #444444;
  border-radius: 10px;
  width: 10vw;
  height: 10vw;
  border-right: solid black;
  z-index: 999;
}

.clickable:hover {
  border: solid #ffcb05;
  cursor: pointer;
}

.name {
  font-size: 2vw;
  align-self: flex-start;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.type1 {
  position: absolute;
  left: 40%;
}

.type2 {
  position: absolute;
  left: 55%;
}

.type {
  font-size: 1.5vw;
  margin-right: auto;
  margin-left: auto;
  align-self: flex-end;
  display: flex;
  border: solid black;
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.noType {
  border: none;
  background-color: none;
}

.Catch {
  filter:brightness(85%);
  margin-left: auto;
  margin-right: 5%;
  border: none #161616;
  border-radius: 50%;
  background-image: url("./Pokeball.png");
  background-size: 3vw;
  background-color: #202020;
  background-repeat: no-repeat;
  opacity: 0.2;
  height: 3vw;
  width: 3vw;
  min-width:3vw;
  z-index: 999;
}

.Catch:hover {
  border: solid #161616;
  opacity: 1.0;
  cursor: pointer;
}

.caught {
  filter:brightness(85%);
  border: none;
  background-image: url("./Pokeball.png");
  background-size: 3vw;
  height: 3vw;
  width: 3vw;
  opacity: 1.0;
}

.caught:hover {
  border: solid #161616;
  cursor: pointer;
}

#back {
  transform: scaleX(-1);
  position: absolute;
  margin-left: 1.5%;
  margin-top: 0%;
  border: solid thick black;
  border-top: none;
  border-radius: 0 0 20px 20px;
  background-image: url("icons8-end-button-100.png"), url("https://i.pinimg.com/originals/66/89/dc/6689dc331be27e66349ce9a4d15ddff3.gif"), url("https://wallpapercave.com/wp/wp1902719.jpg");
  background-position: left 7% bottom 7%, center, bottom 0% right 50%;
  background-repeat: no-repeat;
  background-size: 25px, 50px, 225px;
  height: 65px;
  width: 10vw;
  filter: brightness(70%);
  box-shadow: -5px 3px 3px #222222,
  inset 0px 11px 8px -10px #222222;
}
  
#back:hover {
  cursor: pointer;
  border: 0.5rem solid black;
  border-top: none;
  filter: brightness(100%);
}

.dexHeader {
  font-size: 1vw;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.dexType {
  border: solid black;
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.noType {
  border: none;
  background-color: none;
}

.bigImage {
  align-self: flex-start;
  background-color: #444444;
  border-radius: 10px;
  min-width: 18vw;
  max-width: 18vw;
  border-right: solid black;
  border-bottom: solid black;
  z-index: 100;
}

.dexPokemon {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #333333;
  margin-right: 10%;
  margin-left: 10%;
  border: solid black;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px 3px 3px #222222,
  inset 0px -11px 8px -10px #CCC;
  border-bottom: ridge thick whitesmoke;
}

.dexEntry {
  font-size: 1.5vw;

  border-radius: 10px;
  background-color: #444444;
  border-top: 0.1rem groove #ffcb05;
  border-bottom:0.1rem ridge #ffcb05;
  border-left:0.5rem groove #ffcb05;
  border-right:0.5rem ridge #ffcb05;
  outline: 0.2rem solid #3c5aa6;
  box-shadow: 10px 5px 5px #222222;

  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 1%;

  text-align: start;
  width: 80%;
}

.dexEntry1 {
  font-size: 1.5vw;
  border-radius: 10px;
  background-color: #444444;
  border-top: 0.1rem groove #ffcb05;
  border-bottom:0.1rem ridge #ffcb05;
  border-left:0.5rem groove #ffcb05;
  border-right:0.5rem ridge #ffcb05;
  outline: 0.2rem solid #3c5aa6;
  box-shadow: 10px 5px 5px #222222;

  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 1%;

  text-align: start;
  width: 80%;
}

.entries {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #222222;
  margin-right: 10%;
  margin-left: 10%;
  border: solid black;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 3px 3px #222222,
  inset 0px 11px 8px -10px black;
  padding-bottom: 2%;
  border-top: none;
}

#allEntries {
  align-self: baseline;
  justify-self: flex-start;
  transform: translate(50%, 170%);
  cursor: pointer;
  border: 0.2rem solid black;
  border-radius: 50%;
  background-image: url("https://www.pngkey.com/png/full/12-122997_down-arrow-transparent-image-down-arrow-png-transparent.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: #555555;
  height: 3vw;
  width: 3vw;
}

#firstEntry {
  align-self: baseline;
  justify-self: flex-start;
  cursor: pointer;
  border: 0.2rem solid black;
  border-radius: 50%;
  background-image: url("https://www.pngkey.com/png/full/12-122997_down-arrow-transparent-image-down-arrow-png-transparent.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-color: #555555;
  height: 3vw;
  width: 3vw;
  transform: translate(50%, 170%) scaleY(-1);
}

#statsChart {
  margin-right: -1.5vw;
  margin-left: -2vw;
  margin-top: 1%;
  margin-bottom: 1%;
}

#typeCharts {
  list-style: none;
  margin-top: 20%;

}

.typeChart {
  border-radius: 10px;
  background-color: #333333;
  margin-right: 13%;
  margin-left: 10%;
  border: solid black;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 3px 3px #222222;
}

.typeName {
  font-size: 1.5vw;
  width: 90%;
  text-align: center;
  justify-self: center;
  border: solid black;
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  box-shadow: 5px 3px 3px #222222;
}

.typeHeader {
  font-size: 2vw;
}

.typeFilters {
  width: 100%;
  position: fixed;
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  z-index: 50;
}

.typeFilters2 {
  width: 100%;
  position: fixed;
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  z-index: 25;
}

.typeButton {
  flex: 1;
  font-size: 1.5vw;
  border: solid black;
  margin: 0%;
  height: 2.5vw;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  z-index: 50;
  box-shadow: 5px 3px 3px #222222,
    inset 0px 12px 8px -10px #222222;;
  line-height: 2.5vw;
  filter: brightness(50%);
}

.typeButton2{
  height: 6vw;
  box-shadow: 5px 3px 3px #222222;
  line-height: 10vw;
}

.selected{
  filter: brightness(100%);
}

.typeButton:hover {
  cursor: pointer;
  filter: brightness(100%);
}


.typeCompares {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.multiplier {
  font-size: 2vw;
  align-self: flex-start;
  margin: 2%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.pair {
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  background-color: #333333;

  border-radius: 10px;
  border: solid black;
  box-shadow: 5px 3px 3px #222222;
}

.damages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

#page {
  margin-left: 1%;
  display: flex;
  text-size-adjust: auto;
  text-align: center;
  justify-content: space-around;
  position: fixed;
  max-width: 10%;
  font-size: 1.5vw;
  color: whitesmoke;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  z-index: 50;
  border: solid black;
  border-top: none;
  border-radius: 0 0 40% 40%;
  padding: .25%;
  background-color: #B22222;
  box-shadow: 5px 3px 3px #222222,
    inset 0px 10px 8px -10px #222222;
  z-index: 50;
  filter: brightness(50%)
}

#page:hover {
  cursor: pointer;
  filter: brightness(90%);
}

#snackbar {
  visibility: hidden; /* Hidden by default */
  min-width: 100px; /* Set a default minimum width */
  height: 8vw;
  margin-left: -50px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10%; /* Rounded borders */
  padding: 2%; /* Padding */
  position: absolute; /* Sit on top of the screen */
  left: 50%; /* Center the snackbar */
  top: 10%; 
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 250s;
  animation: fadein 0.5s, fadeout 0.5s 250s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}




/* Add a black background color to the top navigation bar */
.topnav {
  color:whitesmoke;
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 1%;
  overflow: hidden;
  width: 15.5vw;
  background-color: #222222;
  border: solid black;
  border-top: none;
  padding: .2%;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 5px 3px 3px #222222,
    inset 0px 10px 8px -10px black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: .5vw;
  border: none;
  margin: 2%;
  margin-right: 0%;
  height: 1.3vw;
  font-size: 1vw;
  background-color: grey;
  color:whitesmoke;
  box-shadow: 5px 3px 3px black;
  border-radius: 20px 0px 0px 20px;
  border: solid black;
  filter: brightness(70%);
  width: 11vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: 1; /* Firefox */
}

#search{
  margin:0%; 
  width: 1.5vw; 
  height: 1.5vw; 
  align-self: center; 
  background-color: #ccc8c8; 
  padding: .4vw; cursor: pointer; 
  border: solid black;
  border-left: none;
  box-shadow: 5px 3px 3px black;
  border-radius: 0px 20px 20px 0px;
  filter: brightness(70%);
}

#about{
  cursor: pointer;
  text-decoration: underline;
  color: whitesmoke;
}

.contact{
  cursor: pointer;
  text-decoration: underline;
  color: whitesmoke;
}

#contact{
  cursor: pointer;
  text-decoration: underline;
  color: whitesmoke;
}

#backAbout{
  margin-top: 10vw;
}

#aboutSection {
  border-radius: 10px;
  background-color: #333333;
  margin-right: 20%;
  margin-left: 20%;
  border: solid black;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px 3px 3px #222222;
}

#aboutList {
  list-style: none;
  margin-top: 16%;
}

#aboutTitle{
  color: whitesmoke;
  font-size: 2.5vw;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin-left: 2vw;
  margin-bottom: 0%;
}

#aboutText{
  margin-top: 0%;
  color: whitesmoke;
  font-size: 1.5vw;
}

.aboutBodyTitle{
  margin-top: 0%;
  align-self: flex-start;
  margin-left: 2%;
  color: whitesmoke;
  font-size: 2vw;
}

.aboutBody{
  margin-top: -3%;
  align-self: flex-start;
  margin-left: 5%;
  margin-right: 5%;
  color: whitesmoke;
  font-size: 1.5vw;
  text-align: justify;
}

.hide {
  display: none;
}

#backType {
  transform: scaleX(-1);
  background-image: url("icons8-end-button-100.png"), url("https://i.pinimg.com/originals/66/89/dc/6689dc331be27e66349ce9a4d15ddff3.gif"), url("https://wallpapercave.com/wp/wp1902719.jpg");
  background-position: left 7% bottom -2%, left 50% bottom 10%, bottom 30% right 50%;
  background-repeat: no-repeat;
  background-size: 15%, 50px, 225px;
  filter: brightness(70%);
  box-shadow: -5px 3px 3px #222222,
  inset 0px 11px 8px -10px #222222;
  flex: 1;
  border: solid black;
  margin: 0%;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  z-index: 50;
  height: 6vw;
}
  
#backType:hover {
  cursor: pointer;
  filter: brightness(100%);
}